<% content_for :body_class, 'bg-light' %>
<h1>Lleva tu producto</h1>
  <section class="section product-show">
    <div class="columns">
      <div class="column is-8">
        <h1 class="title is-2"><%= @product.name %></h1>
        <ul class="pv1">
          <li class="inline-block pr3"><%= @product.brand %></li>
          <li class="inline-block pr3"><%= @product.size %></li>
          <li class="inline-block pr3"><%= @product.sku %></li>
          <% if @product.stock? %>
            <li class="inline-block pr3"><%= @product.stock %></li>
          <% end %>  
        </ul>
        <% if @product.image.present? %>
          <div class="product border-light">
            <div class="feature-image">
              <%=  image_tag(@product.image) %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="column is-3 is-offset-1">
        <div class="bg-white pa4 border-radius-3">
          <h4 class="title is-5 has-text-centered"><%= number_to_currency(@product.price) %></h4>
          <%= link_to 'Add to cart', cart_show_path(product_id: @product.id, quantity:1, price: @product.price), method: :post, class: 'button  is-light' %>
        </div>
      </div>

    </div>


  </section>
