<!DOCTYPE html>
<html>
  <head>
    <title>Ecomerce</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
   
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class= "<%= yield (:body_class) %>"  >
    <%= render 'store/navbar' %>
    <%= yield(:header) %>

    <div class="container">
     <%= yield %>
    </div>
  </body>
</html>
